body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.row{
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

footer{
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
